.App {
  text-align: center;
}
* {
  overflow-x: hidden;
  box-sizing: border-box;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  color: black;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1488342994276-7c3bc0742042?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

.eventform {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  color: black;
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMPqQUZpP8OKqqjVxQK0MCQjfZwoxumRFF9Q&usqp=CAU");
}

.collegescreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  color: black;
  background-size: cover;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsFAK_ycsUYhIAQWRzTb17RQHJWj8RK7v8FA&usqp=CAU"); */
}
.form__box {
  width: 260px;
  padding: 24px;
  background: rgb(236, 227, 227);
  border-radius: 6%;
  opacity: 0.7;
}

.event__form__box {
  width: 320px;
  padding: 24px;
  background: rgb(236, 227, 227);
  border-radius: 6%;
  opacity: 0.7;
}

.formcomponent {
  margin-bottom: 1rem;
}

.linkButton {
  text-decoration: none;
  color: black;
}
.login__icon {
  margin-left: 90px;
}
.login__button {
  margin-left: 70px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8rem;
}
.featured {
  margin-top: 1rem;
  position: absolute;
  margin-left: 35rem;
  margin-bottom: 1rem;
}
.header__login {
  @extend .header;
  margin-bottom: 0.5rem;
}
.error {
  @extend .header;
  color: red;
}
.signup__para {
  margin: 1.8rem auto;
  margin-left: 50px;
}
.login__para {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.8rem;
  }
  .featured {
    position: absolute;
    margin-left: 10rem;
    margin-bottom: 0.3rem;

    margin-top: 6rem;
  }
}

.cap {
  animation: hotgold 3s ease infinite alternate;
}

@keyframes hotgold {
  from {
    transform: translateY(-570px);
  }

  to {
    transform: translateY(23px);
  }
}
